@import "tailwindcss";

/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cinzel:wght@400..900&family=Montserrat:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

/* O VS Code reclama aqui, mas o Tailwind v4 precisa disto */
@theme {
  --color-brand-green: #05402d;
  --color-brand-red: #69151f;
  
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cinzel", ui-serif, Georgia, serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
  touch-action: pan-x;
}